
.node {
  font: 300 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  font: 500 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  stroke-width: 3px;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 7000;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 6px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}



